### HTML is the code we use to structure a web page. 
* is not a programming language, is a markup language
* consists of elements(opening tag, closing tag, content)
* elements can have attributes: extra infotmation about the element 
* class attribute allows you to give the element a non-unique identifier that can be used to target it
* https://www.w3schools.com/TAGS/default.ASP
#### what are the difference between attributes and tags?
*h1> tags always has an oppening and ending /h1>
*atributes have additional information: src="my.jpg"

### Case study: The site for recommendations - "Gnod",
Tasks: 1. scraping billboard top 100 songs
       2. create a dataframe

In [61]:
#get libraries 
import requests #allowing us to get relevant info from the webpages
from bs4 import BeautifulSoup #extract data from HTML files
import pandas as pd
#for later advanced purposes
#from time import sleep # preventing us from overwhelming the server by sending too many requests
from datetime import date, timedelta # to see the date

In [62]:
#1.before starting doing anything, interact with the page, see what's there
#2. store URL in a variable
#3.

In [63]:
# store URL in a variable 
url= 'https://www.billboard.com/charts/hot-100'

In [64]:
# now let's get content 
r = requests.get(url)
r.status_code # 200 status code means OK!

200

In [87]:
# parse html (create the 'soup')
soup = BeautifulSoup(r.content, "html.parser")
#check that the html code looks like it should
#soup

In [89]:
#print (soup)

In [73]:
# extract relevent data, what we need: artist name and song name right?
# use inspector developer to easily navigate the location 
#i used dic
songs = soup. find_all('span', attrs = {'class':'chart-element__information__song'})[:10] #find all returns a list
print (songs)

[<span class="chart-element__information__song text--truncate color--primary">Life Goes On</span>, <span class="chart-element__information__song text--truncate color--primary">Mood</span>, <span class="chart-element__information__song text--truncate color--primary">Dynamite</span>, <span class="chart-element__information__song text--truncate color--primary">Positions</span>, <span class="chart-element__information__song text--truncate color--primary">I Hope</span>, <span class="chart-element__information__song text--truncate color--primary">Holy</span>, <span class="chart-element__information__song text--truncate color--primary">Laugh Now Cry Later</span>, <span class="chart-element__information__song text--truncate color--primary">Monster</span>, <span class="chart-element__information__song text--truncate color--primary">Blinding Lights</span>, <span class="chart-element__information__song text--truncate color--primary">Lemonade</span>]

In [68]:
artists = soup. find_all('span', attrs = {'class':'chart-element__information__artist'})[:10]
print (artists)

[<span class="chart-element__information__artist text--truncate color--secondary">BTS</span>, <span class="chart-element__information__artist text--truncate color--secondary">24kGoldn Featuring iann dior</span>, <span class="chart-element__information__artist text--truncate color--secondary">BTS</span>, <span class="chart-element__information__artist text--truncate color--secondary">Ariana Grande</span>, <span class="chart-element__information__artist text--truncate color--secondary">Gabby Barrett Featuring Charlie Puth</span>, <span class="chart-element__information__artist text--truncate color--secondary">Justin Bieber Featuring Chance The Rapper</span>, <span class="chart-element__information__artist text--truncate color--secondary">Drake Featuring Lil Durk</span>, <span class="chart-element__information__artist text--truncate color--secondary">Shawn Mendes &amp; Justin Bieber</span>, <span class="chart-element__information__artist text--truncate color--secondary">The Weeknd</span>, <span class="chart-element__information__artist text--truncate color--secondary">Internet Money &amp; Gunna Featuring Don Toliver &amp; NAV</span>]

In [75]:
soup.select('span.chart-element__information__song')[:10]

[<span class="chart-element__information__song text--truncate color--primary">Life Goes On</span>,
 <span class="chart-element__information__song text--truncate color--primary">Mood</span>,
 <span class="chart-element__information__song text--truncate color--primary">Dynamite</span>,
 <span class="chart-element__information__song text--truncate color--primary">Positions</span>,
 <span class="chart-element__information__song text--truncate color--primary">I Hope</span>,
 <span class="chart-element__information__song text--truncate color--primary">Holy</span>,
 <span class="chart-element__information__song text--truncate color--primary">Laugh Now Cry Later</span>,
 <span class="chart-element__information__song text--truncate color--primary">Monster</span>,
 <span class="chart-element__information__song text--truncate color--primary">Blinding Lights</span>,
 <span class="chart-element__information__song text--truncate color--primary">Lemonade</span>]

In [82]:
soup.select('span.chart-element__information__artist')[:10] #to extract the content of the tags

[<span class="chart-element__information__artist text--truncate color--secondary">BTS</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">24kGoldn Featuring iann dior</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">BTS</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Ariana Grande</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Gabby Barrett Featuring Charlie Puth</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Justin Bieber Featuring Chance The Rapper</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Drake Featuring Lil Durk</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Shawn Mendes &amp; Justin Bieber</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">The Weeknd</span>,
 <span class="chart-element__information__artist text--truncate color--secondary">Internet Money &amp; Gunna Featuring Don Toliver &amp; NAV</span>]

In [83]:
soup.select('span.chart-element__information__artist')[10].get_text()

'Billie Eilish'

In [90]:
#putting it into a dataframe
#let's have lists for songs and artists
songs = []
artists = []

In [91]:
len (soup.select('span.chart-element__information__artist'))

100

In [93]:
num_iter= len (soup.select('span.chart-element__information__song'))

In [97]:
# iterate through the result set and retrive all the data
for i in range(num_iter):
    songs.append(soup.select('span.chart-element__information__song')[i].get_text())
    artists.append(soup.select('span.chart-element__information__artist')[i].get_text())
#print (songs)
#print (artists)

In [98]:
# now it is time to have our massive dataframe :)

top_songs_list= pd.DataFrame({"songs":songs,
                       "artists":artists,})

In [104]:
top_songs_list.head()

          songs                               artists
0  Life Goes On                                   BTS
1          Mood          24kGoldn Featuring iann dior
2      Dynamite                                   BTS
3     Positions                         Ariana Grande
4        I Hope  Gabby Barrett Featuring Charlie Puth

In [109]:
top_songs_list.describe ()

                        songs artists
count                     400     400
unique                    100      82
top     Throat Baby (Go Baby)     BTS
freq                        4      28

In [110]:
# why did i get duplicates? 
duplicated_songs = top_songs_list[top_songs_list.duplicated(['songs'], keep = False)]

In [112]:
duplicated_songs ['songs'].value_counts()

Throat Baby (Go Baby)                    4
Let It Snow, Let It Snow, Let It Snow    4
34+35                                    4
Took Her To The O                        4
More Than My Hometown                    4
                                        ..
Therefore I Am                           4
Don't Stop                               4
Kings & Queens                           4
I Hope                                   4
One Beer                                 4
Name: songs, Length: 100, dtype: int64

In [113]:
topsongs = top_songs_list.drop_duplicates()

In [114]:
topsongs.describe()

                        songs artists
count                     100     100
unique                    100      82
top     Throat Baby (Go Baby)     BTS
freq                        1       7

In [115]:
topsongs.head()

          songs                               artists
0  Life Goes On                                   BTS
1          Mood          24kGoldn Featuring iann dior
2      Dynamite                                   BTS
3     Positions                         Ariana Grande
4        I Hope  Gabby Barrett Featuring Charlie Puth