In [2]:
import pymysql #connecters to talk python to mariadb
from sqlalchemy import create_engine #Establish a connection to the database
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
connection_string = 'mysql+pymysql://root:password@localhost/sakila'

In [9]:
query_1 = '''
select i.film_id,
    round(avg(p.amount),2) avg_rental_cost,
    round(avg(timestampdiff(hour, r.rental_date, r.return_date)),2) as hours_rented,
     count(ifnull(r.rental_id, 0)) as num_rent_times
from rental r
join payment p on p.rental_id = r.rental_id
join inventory i on i.inventory_id = r.inventory_id
group by 1
order by 1,2,3,4;
'''
query_2 = '''
select
  act2.film_id,
  group_concat(act2.actor_id separator ',') actor_list,
  sum(act2.actor_fame) total_actor_fame,
  sum(act2.actor_influence) total_actor_influence
from (
  select fa.film_id, act1.*
    from (
      select
        fa1.actor_id,
        count(distinct(fa1.film_id)) actor_fame,
        count(distinct(fa2.actor_id)) actor_influence
        from
          film_actor fa1
          join film_actor fa2 on fa2.film_id = fa1.film_id
          group by fa1.actor_id
    ) act1
    join film_actor fa on fa.actor_id = act1.actor_id
) act2
group by act2.film_id;
'''
query_3 = '''
select  f.film_id,
       f.title,
     f.description,
     fc.category_id,
     f.language_id,
     avg(f.rental_duration) * 24  as avg_hours_rental_allowed,
     f.length / 60  as hours_length,
     avg(f.replacement_cost) as avg_replacement_cost,
     f.rating,
     f.special_features,
     count(fa.actor_id) actors_in_film
from film f
join film_category fc on fc.film_id = f.film_id
join film_actor fa on fa.film_id = f.film_id
group by 1,2,3,4,5,7,9,10
order by 1,4,5,6,7;'''

In [10]:
data=pd.read_sql(query_1, connection_string)
data

     film_id  avg_rental_cost  hours_rented  num_rent_times
0          1             1.60        119.45              23
1          2             7.56        135.17               7
2          3             3.16         82.75              12
3          4             3.99        113.64              23
4          5             4.32        170.00              12
..       ...              ...           ...             ...
953      996             0.99        110.29               7
954      997             2.82        133.17               6
955      998             1.66        142.38               9
956      999             4.34        132.53              17
957     1000             6.93        108.52              31

[958 rows x 4 columns]

In [11]:
data_1= pd.read_sql(query_2, connection_string)
data_1

,film_id,actor_list,total_actor_fame,total_actor_influence
0,1,"1,10,20,30,40,53,108,162,188,198",278.0,1108.0
1,2,"19,85,90,160",109.0,398.0
2,3,"2,19,24,64,123",136.0,541.0
3,4,"41,81,88,147,162",141.0,543.0
4,5,"51,59,103,181,200",141.0,492.0
...,...,...,...,...
992,996,"3,27,84,163,170",131.0,542.0
993,997,"23,37,124,155,198",169.0,615.0
994,998,"13,44,73,122,169,175",172.0,626.0
995,999,"52,66,104,140,142",151.0,537.0
996,1000,"155,166,178",76.0,313.0

In [13]:
data_2= pd.read_sql(query_3, connection_string)
data_2

,film_id,title,description,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,rating,special_features,actors_in_film
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6,1,144.0,1.4333,20.99,PG,"Deleted Scenes,Behind the Scenes",10
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11,1,72.0,0.8000,12.99,G,"Trailers,Deleted Scenes",4
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6,1,168.0,0.8333,18.99,NC-17,"Trailers,Deleted Scenes",5
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11,1,120.0,1.9500,26.99,G,"Commentaries,Behind the Scenes",5
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8,1,144.0,2.1667,22.99,G,Deleted Scenes,5
...,...,...,...,...,...,...,...,...,...,...,...
992,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,6,1,144.0,3.0500,9.99,G,"Trailers,Behind the Scenes",5
993,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,12,1,96.0,2.9833,14.99,NC-17,"Trailers,Behind the Scenes",5
994,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,11,1,144.0,1.7500,10.99,NC-17,Deleted Scenes,6
995,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,3,1,120.0,1.6833,28.99,R,"Trailers,Deleted Scenes",5
996,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5,1,72.0,0.8333,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",3

In [14]:
frames= [data, data_1, data_2]
df=pd.concat(frames, axis=1, sort=False)

In [15]:
df

,film_id,avg_rental_cost,hours_rented,num_rent_times,film_id,actor_list,total_actor_fame,total_actor_influence,film_id,title,description,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,rating,special_features,actors_in_film
0,1.0,1.60,119.45,23.0,1,"1,10,20,30,40,53,108,162,188,198",278.0,1108.0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6,1,144.0,1.4333,20.99,PG,"Deleted Scenes,Behind the Scenes",10
1,2.0,7.56,135.17,7.0,2,"19,85,90,160",109.0,398.0,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11,1,72.0,0.8000,12.99,G,"Trailers,Deleted Scenes",4
2,3.0,3.16,82.75,12.0,3,"2,19,24,64,123",136.0,541.0,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6,1,168.0,0.8333,18.99,NC-17,"Trailers,Deleted Scenes",5
3,4.0,3.99,113.64,23.0,4,"41,81,88,147,162",141.0,543.0,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11,1,120.0,1.9500,26.99,G,"Commentaries,Behind the Scenes",5
4,5.0,4.32,170.00,12.0,5,"51,59,103,181,200",141.0,492.0,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8,1,144.0,2.1667,22.99,G,Deleted Scenes,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,996,"3,27,84,163,170",131.0,542.0,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,6,1,144.0,3.0500,9.99,G,"Trailers,Behind the Scenes",5
993,NaN,NaN,NaN,NaN,997,"23,37,124,155,198",169.0,615.0,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,12,1,96.0,2.9833,14.99,NC-17,"Trailers,Behind the Scenes",5
994,NaN,NaN,NaN,NaN,998,"13,44,73,122,169,175",172.0,626.0,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,11,1,144.0,1.7500,10.99,NC-17,Deleted Scenes,6
995,NaN,NaN,NaN,NaN,999,"52,66,104,140,142",151.0,537.0,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,3,1,120.0,1.6833,28.99,R,"Trailers,Deleted Scenes",5
996,NaN,NaN,NaN,NaN,1000,"155,166,178",76.0,313.0,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5,1,72.0,0.8333,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",3

In [16]:
df.describe()

,film_id,avg_rental_cost,hours_rented,num_rent_times,film_id,total_actor_fame,total_actor_influence,film_id,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,actors_in_film
count,958.000000,958.000000,958.000000,958.000000,997.000000,997.000000,997.000000,997.000000,997.000000,997.0,997.000000,997.000000,997.000000,997.000000
mean,502.598121,4.215271,119.840595,16.747390,500.618857,154.539619,589.052156,500.618857,8.465396,1.0,119.590772,1.919158,19.975958,5.478435
std,287.541738,1.816227,16.898571,6.676185,288.937486,66.239341,256.909348,288.937486,4.606183,0.0,33.827715,0.673097,6.048814,2.321712
min,1.000000,0.990000,45.860000,4.000000,1.000000,18.000000,83.000000,1.000000,1.000000,1.0,72.000000,0.766700,9.990000,1.000000
25%,256.250000,2.890000,109.260000,11.000000,250.000000,109.000000,410.000000,250.000000,5.000000,1.0,96.000000,1.333300,14.990000,4.000000
50%,504.500000,3.990000,120.465000,16.000000,501.000000,147.000000,555.000000,501.000000,8.000000,1.0,120.000000,1.900000,19.990000,5.000000
75%,751.750000,5.710000,130.250000,22.000000,750.000000,199.000000,763.000000,750.000000,13.000000,1.0,144.000000,2.483300,24.990000,7.000000
max,1000.000000,8.670000,173.920000,34.000000,1000.000000,440.000000,1710.000000,1000.000000,16.000000,1.0,168.000000,3.083300,29.990000,15.000000

In [17]:
df.isnull().sum()

film_id                     39
avg_rental_cost             39
hours_rented                39
num_rent_times              39
film_id                      0
actor_list                   0
total_actor_fame             0
total_actor_influence        0
film_id                      0
title                        0
description                  0
category_id                  0
language_id                  0
avg_hours_rental_allowed     0
hours_length                 0
avg_replacement_cost         0
rating                       0
special_features             0
actors_in_film               0
dtype: int64

In [18]:
df.columns

Index(['film_id', 'avg_rental_cost', 'hours_rented', 'num_rent_times',
       'film_id', 'actor_list', 'total_actor_fame', 'total_actor_influence',
       'film_id', 'title', 'description', 'category_id', 'language_id',
       'avg_hours_rental_allowed', 'hours_length', 'avg_replacement_cost',
       'rating', 'special_features', 'actors_in_film'],
      dtype='object')

In [19]:
df.shape

(997, 19)

In [20]:
df.dropna(axis=0, inplace=True) # inplace=True to make sure they are gone

In [21]:
df.isnull().sum()

film_id                     0
avg_rental_cost             0
hours_rented                0
num_rent_times              0
film_id                     0
actor_list                  0
total_actor_fame            0
total_actor_influence       0
film_id                     0
title                       0
description                 0
category_id                 0
language_id                 0
avg_hours_rental_allowed    0
hours_length                0
avg_replacement_cost        0
rating                      0
special_features            0
actors_in_film              0
dtype: int64